html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/custom.css")
        
        script(src='https://lex-web-ui-codebuilddeploy-xzwefq23l-webappbucket-b0p6g3qizxqp.s3.amazonaws.com/lex-web-ui-loader.min.js')
        script(src='/scripts/loader.js')
    body
        block content    