extends layouts/common.pug
block content
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow.fixed-top
        .container
            a.navbar-brand(href='#') Gestion de Bots
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='/bots')
                            | Bots
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Intents
                    li.nav-item
                        a.nav-link(href='#') Services
                    li.nav-item
                        a.nav-link(href='#') Contact
    // Full Page Image Header with Vertically Centered Content
    header.masthead
        .container.h-100
            .row.h-100.align-items-center
                .col-12
                    form
                        .form-group
                            label(for='inputAddress') Nom du bot
                            input#inputNomBot.form-control(type='text', placeholder='1234 Main St')
                        .form-group
                            label(for='inputAddress2') Description
                            input#inputDescription.form-control(type='text', placeholder='Apartment, studio, or floor')
                        .form-group
                            label(for='inputCity') Déclaration d'abandon
                            input#inputCity.form-control(type='text', placeholder='Quand Bot ne comprend pas la saisie de l\'utilisateur dans son contexte')
                        .form-group
                            label(for='inputState') Clarification invite
                            input#inputState.form-control(type='text', placeholder='Quand Amazon Lex ne comprend pas l\'intention de l\'utilisateur')
                        button.btn.btn-primary(type='submit') Sign in

    // Page Content
    section.py-5
        .container
            h2.font-weight-light Page Content
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.
