extends layouts/common.pug
block content
  h1 TEST BOT
  script(src='https://lex-web-ui-codebuilddeploy-xzwefq23l-webappbucket-b0p6g3qizxqp.s3.amazonaws.com/lex-web-ui-loader.min.js')
  script(src='/scripts/loader.js')
